@import './Variables.scss';

.main-container.container-fluid {
  font-family: $AG-regular;
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
  a {
    text-decoration: none !important;
  }
  .full-height {
    flex: 1;
  }
  .header-container {
    align-items: center;
    background-color: #000;
    .col {
      display: none;
    }
    .row.white-banner {
      background-color: #fff;
      margin-top: 15px;
      font-size: 0.8rem;
      max-height: 101px;
      height: 101px;
      align-items: center;
      line-height: 1.2;
      padding-left: 15px;
      &.header-left {
        margin-left: 0;
      }
      &.header-right {
        margin-right: 0;
      }
    }
    .home {
      background-color: $home;
      > .row.white-banner {
        font-family: $AG-medium;
        font-size: 1.4rem;
        color: $home;
      }
    }
    .graphic-designer {
      background-color: $graphic-designer;
      color: $graphic-designer;
    }
    .social-media {
      background-color: $social-media;
      color: $social-media;
    }
    .creative-producer {
      background-color: $creative-producer;
      color: $creative-producer;
    }
    .photo-editor {
      background-color: $photo-editor;
      color: $photo-editor;
    }
    .mobile-header {
      padding: 0;
      &.name {
        text-align: left;
        a {
          margin-bottom: 0;
          margin-left: 10px;
          color: #fff;
        }
      }
      &.sm-icons {
        text-align: right;
        a {
          svg {
            height: 25px;
            fill: #fff;
            margin-right: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .header-container#main-header {
    > .col > .row.white-banner {
      margin-bottom: 15px;
    }
  }
  .edit.header-container {
    .home {
      .header-left.white-banner {
        > a {
          color: $photo-editor;
        }
      }
    }
  }
}

.row.footer-container {
  display: none;
  margin-top: 2%;
  .footer-link {
    .row {
      height: 100%;
      padding: 0 2%;
      .col-12 {
        display: flex;
        align-items: center;
        a {
          font-size: 1.3rem;
          font-weight: 600;
          color: #fff;
          margin-right: 25px;
        }
      }
    }
  }
  .footer-sm {
    .row {
      height: 100%;
      padding: 2% 1%;
      .col-12 {
        text-align: right;
        a {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          svg,
          .cls-1 {
            cursor: pointer;
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }
  }
  &.graphic-design {
    background-color: $graphic-designer;
  }
  &.social-media {
    background-color: $social-media;
  }
  &.creative-producer {
    background-color: $creative-producer;
  }
  &.photo-editor {
    background-color: $photo-editor;
  }
}

.main-container.container-fluid.edit {
  .header-container {
    .home {
      .row.white-banner.header-left {
        color: #17a2b8;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-container.container-fluid {
    .header-container {
      .col {
        display: block;
      }
      .mobile-header.col-6 {
        display: none;
      }
    }
  }
  .row.footer-container {
    display: flex;
    .footer-sm {
      a {
        svg,
        .cls-1 {
          height: 45px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-container.container-fluid {
    .header-container {
      color: #000;
      background-color: #fff;
      .row.white-banner {
        font-size: 1.2rem;
      }
      .home {
        > .row.white-banner {
          font-size: 2rem;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    .main-container.container-fluid {
      max-width: 1800px;
      .header-container {
        .row.white-banner {
          margin-left: -16px;
          font-size: 1.4rem;
        }
        .home {
          > .row.white-banner {
            font-size: 2.2rem;
          }
        }
      }
      .full-height {
        margin-top: -1px;
        background-color: white;
        z-index: 1;
      }
    }
  }
}
