@font-face {
  font-family: 'Akzidenz-Grotesk-Regular';
  src: url('../assets/AkzidenzGroteskExtendedBQRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Akzidenz-Grotesk-Medium';
  src: url('../assets/AkzidenzGroteskBQMedExt.otf') format('opentype');
}

// font families
$AG-regular: Akzidenz-Grotesk-Regular;
$AG-medium: Akzidenz-Grotesk-Medium;

$home: #ea3d30;
$graphic-designer: #fa8aa9;
$social-media: #f6d40e;
$creative-producer: #0253dd;
$photo-editor: #14af75;
