@import '../global/Variables.scss';

.work-container {
  .work-img,
  .work-video {
    width: 100%;
    max-width: 750px;
  }
  .work-item-container {
    margin-top: 3%;
    padding: 0 1%;
    justify-content: center;
    .title-container {
      > .work-title {
        width: fit-content;
        color: #fff;
        text-transform: capitalize;
        font-size: 1rem;
      }
    }
    .services {
      > p {
        font-size: 0.9rem;
      }
    }
    .imgs-container {
      .img-subtext {
        color: #000;
        font-size: 0.7rem;
      }
    }
    .carousel-container {
      width: 100%;
      .carousel-wrapper {
        > div {
          text-align: center;
          .carousel-img {
            max-height: 225px;
          }
        }
      }
      .right-btn,
      .left-btn {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}
.work-container {
  &.graphic-design {
    color: $graphic-designer;
    .work-title {
      background-color: $graphic-designer;
    }
  }

  &.social-media {
    color: $social-media;
    .work-title {
      background-color: $social-media;
      margin-bottom: 3%;
      margin-top: 3%;
    }
    .img-container {
      margin-top: 3%;
      .sm-imgs-container {
        text-align: center;
        .sm-img {
          // max-height: 850px;
          width: 100%;
        }
      }
    }
  }

  &.creative-producer {
    color: $creative-producer;
    .work-title {
      background-color: $creative-producer;
    }
  }
  &.photo {
    color: $photo-editor;
    .work-title {
      background-color: $photo-editor;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .work-container {
    .work-item-container {
      .title-container {
        > .work-title {
          font-size: 1.25rem;
        }
      }
      .services {
        > p {
          font-size: 1.1rem;
        }
      }
      .imgs-container {
        .img-subtext {
          font-size: 1rem;
        }
      }
      .carousel-container {
        .right-btn,
        .left-btn {
          font-size: 2rem;
        }
      }
    }
    &.social-media {
      .work-title {
        margin-bottom: 1%;
        margin-top: 0%;
      }
      .img-container {
        margin-top: 0;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .work-container {
    .work-item-container {
      .carousel-container {
        .carousel-wrapper {
          > div {
            .carousel-img {
              max-height: 275px;
            }
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .work-container {
    .work-item-container {
      .carousel-container {
        .carousel-wrapper {
          > div {
            .carousel-img {
              max-height: 450px;
            }
          }
        }
      }
    }
  }
}
