@import '../global/Variables.scss';

.admin-error {
  display: flex;
  justify-content: center;
  align-items: center;
  .go-home {
    color: $graphic-designer;
    border: 1px solid $graphic-designer;
    border-radius: 4px;
    padding: 1% 5%;
  }
  .go-home:hover {
    color: #fff;
    background-color: $graphic-designer;
  }
}

.admin-home.admin-landing-page {
  background-color: $home;
  > .row.tile-container {
    .tiles {
      border-bottom: none;
      border-top: none;
      border-left: none;
      align-items: end;
      padding-top: 20%;
    }
    .tiles:hover {
      -webkit-box-shadow: inset 0px 0px 0px 5px rgba(234, 61, 48, 1);
      -moz-box-shadow: inset 0px 0px 0px 5px rgba(234, 61, 48, 1);
      box-shadow: inset 0px 0px 0px 5px rgba(234, 61, 48, 1);
      background-color: #fff;
      color: $home;
    }
  }
}
.graphic-designer.admin-landing-page {
  background-color: $graphic-designer;
  > .row.tile-container {
    .tiles.apple {
      height: 25%;
    }
    .tiles.stussy {
      height: 35%;
      align-items: end;
      padding-top: 5%;
    }
    .tiles.ks {
      height: 35%;
      align-items: flex-end;
      padding-bottom: 5%;
    }
    .tiles.dw {
      height: 15%;
    }
    .tiles.alta {
      height: 25%;
    }
    .tiles:hover {
      -webkit-box-shadow: inset 0px 0px 0px 5px rgba(250, 138, 170, 1);
      -moz-box-shadow: inset 0px 0px 0px 5px rgba(250, 138, 170, 1);
      box-shadow: inset 0px 0px 0px 5px rgba(250, 138, 170, 1);
      background-color: #fff;
      color: $graphic-designer;
    }
  }
}
.social-media.admin-landing-page {
  background-color: $social-media;
  > .row.tile-container {
    .tiles.vans {
      height: 35%;
      border-top: none;
    }
    .tiles.element {
      height: 65%;
    }
    .tiles:hover {
      -webkit-box-shadow: inset 0px 0px 0px 5px rgba(246, 212, 14, 1);
      -moz-box-shadow: inset 0px 0px 0px 5px rgba(246, 212, 14, 1);
      box-shadow: inset 0px 0px 0px 5px rgba(246, 212, 14, 1);
      background-color: #fff;
      color: $social-media;
    }
  }
}
.creative-producer.admin-landing-page {
  background-color: $creative-producer;
  > .row.tile-container {
    .tiles.apple {
      height: 65%;
    }
    .tiles.vans {
      height: 35%;
    }
    .tiles:hover {
      -webkit-box-shadow: inset 0px 0px 0px 5px rgba(2, 83, 221, 1);
      -moz-box-shadow: inset 0px 0px 0px 5px rgba(2, 83, 221, 1);
      box-shadow: inset 0px 0px 0px 5px rgba(2, 83, 221, 1);
      background-color: #fff;
      color: $creative-producer;
    }
  }
}
.photo.admin-landing-page {
  background-color: $photo-editor;
  > .row.tile-container {
    .tiles {
      border-right: none;
    }
    .tiles.ae {
      height: 45%;
    }
    .tiles.ks {
      height: 55%;
    }
    .tiles:hover {
      -webkit-box-shadow: inset 0px 0px 0px 5px rgba(20, 175, 117, 1);
      -moz-box-shadow: inset 0px 0px 0px 5px rgba(20, 175, 117, 1);
      box-shadow: inset 0px 0px 0px 5px rgba(20, 175, 117, 1);
      background-color: #fff;
      color: $photo-editor;
    }
  }
}

.admin-landing-page {
  .row.tile-container {
    height: 100%;
    > .tiles:first-child {
      border-top: none;
    }
    .tiles:last-child {
      border-bottom: none;
    }
    .tiles {
      color: #fff;
      border: 3px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      padding-left: 5%;
    }
  }
}

// edit info container
.edit-info-container {
  padding-top: 5%;
  .sm-icons {
    > p {
      margin-left: 1%;
      display: flex;
      align-items: center;
      > .form-control {
        margin-left: 3%;
      }
      svg,
      .cls-1 {
        width: 50px;
        cursor: pointer;
        fill: $home;
        stroke: $home;
      }
    }
    .save-btn-container {
      float: right;
    }
  }
  .info-details {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    .info-input-container {
      max-width: 850px;
      display: flex;
      .info-input {
        margin-right: 1%;
      }
    }
    .save-btn-container {
      max-width: 850px;
      display: flex;
      justify-content: space-between;
      .add-btn {
        background-color: $home;
        color: #fff;
      }
    }
  }
  .save-btn-container {
    .save-btn {
      color: $home;
      border: 1px solid $home;
    }
  }
  .info-loader-container {
    justify-content: center;
    align-items: center;
  }
}

// work container
.admin-work-container,
.new-work-container {
  .work-img {
    width: 100%;
  }
  .work-title {
    a:hover {
      color: #fff;
    }
  }
  .new-work-btn-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    .back-btn {
      cursor: pointer;
    }
  }
  .work-item-container {
    margin-top: 3%;
    margin-bottom: 3%;
    .title-container,
    .services,
    .key-work > p {
      font-size: 1.2rem;
    }
  }
  &.graphic-design {
    color: $graphic-designer;
    a {
      color: $graphic-designer;
    }
    .btn {
      color: $graphic-designer;
      border-color: $graphic-designer;
      &:hover {
        color: #fff;
        background-color: $graphic-designer;
      }
    }
  }
  &.social-media {
    color: $social-media;
    a {
      color: $social-media;
    }
    .btn {
      color: $social-media;
      border-color: $social-media;
      &:hover {
        color: #fff;
        background-color: $social-media;
      }
    }
  }
  &.creative-producer {
    color: $creative-producer;
    a {
      color: $creative-producer;
    }
    .btn {
      color: $creative-producer;
      border-color: $creative-producer;
      &:hover {
        color: #fff;
        background-color: $creative-producer;
      }
    }
  }
  &.photo {
    color: $photo-editor;
    a {
      color: $photo-editor;
    }
    .btn {
      color: $photo-editor;
      border-color: $photo-editor;
      &:hover {
        color: #fff;
        background-color: $photo-editor;
      }
    }
  }
}

.new-work-container {
  .work-item-container {
    margin-top: 0;
    .back-container {
      display: flex;
      justify-content: space-between;
      margin-top: 1%;
      margin-bottom: 2%;
    }
  }
  .new-imgs-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 3%;
    .form-check {
      font-size: 1.1rem;
    }
  }
  .imgs-container {
    text-align: center;
    align-self: flex-end;
    .work-img {
      max-width: 50%;
    }
    .form-group {
      text-align: left;
    }
    .uploads {
      margin-top: 2%;
    }
  }
}

.new-work-container.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Delete Modal
.new-work-container {
  .delete-modal {
    height: 100%;
    > .row {
      height: 100%;
      align-items: center;
      text-align: center;
      .delete-btn-container {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

// Admin work DND
.admin-work-container {
  .work-item-container {
    .work-title {
      margin-bottom: 1%;
    }
    .dragged .work-title {
      opacity: 0.25;
    }
    .floating .work-title {
      color: #ffffff;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .admin-landing-page {
    .row.tile-container {
      .tiles {
        font-size: 1rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .admin-landing-page {
    .row.tile-container {
      .tiles {
        font-size: 1.4rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
